<%= render 'searches/top_render/top_banner' %>

<%= render 'all_notices/top_render/alert_normal' %>

<% if mobile? %>
    <%= render 'searches/index/mobile' %>
<% else %>
    <%= render 'searches/index/pc' %>
<% end %>

<div style="margin-top: 50px">
    <%= paginate @searches %>
</div>